<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="database.cop.mapper.CustomerMapper">-->
<!--&lt;!&ndash;    public void insertCustomerMapper(Customer custom)&ndash;&gt;-->
<!--    <insert id="insertCustomerMapper">-->
<!--        insert into Customers(`Username`, `FirstName`, `LastName`, `Membership`, `DOB`, `PaymentInfo`, `Phone`, `Address`, `Email`) values(#{Username}, #{FirstName}, #{LastName}, #{Membership}, #{DOB}, #{PaymentInfo}, #{Phone}, #{Address}, #{Email})-->
<!--    </insert>-->
<!--</mapper>-->